// Estilo Fuente 
body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6; /* Define la altura de línea */
    color: #333; /* Color del texto */
  }